/* import style css - This is style guide file.*/
@import url('style.css');
/* import font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    background-color: #e9eef4;
}

a {
    text-decoration: none;
}

aside, main, footer {
    padding: 20px;
}

main, footer {
    padding-left: 230px;
}

/* topbar styling */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light);
    padding: 10px 0;
}

.topbar img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
}

.topbar h3, .topbar a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.left-content, .right-content {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    padding-left: 245px;
}

.right-content span {
    margin-right: 10px;
}

.fa-house {
    margin-right: 10px;
    color: var( --color-normal-button);
}

.fa-right-from-bracket{
    color: var(--color-normal-button);
    transition: all 0.3s ease-in-out;
    margin-right: 10px
  }
  

.fa-right-from-bracket:hover {
    transform: rotate(360deg) scale(1.2);
    
}

/* sidebar styling */

aside {
    background: linear-gradient(178.24deg, #192d45, #35447d);
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar .logo {
    width: 100px;
    margin: 50px;
}

.icon-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icon-link img {
    width: 30px;
}

.sidebar a {
    margin-bottom: 20px;
    color: white;
    position: relative;
    text-decoration: none;
}

.sidebar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 14px;
    left: 0;
    background-color:white;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.sidebar a:hover::after {
    visibility: visible;
    width: 100%;
}

/* order status section styling */

.status, .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 10px;
    width: 100%;
}

.status-cards {
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: flex-start;
  width: 85%;

}

.status-cards .card {
  padding: 10px;
  color: var(--color-text-light);
  display: flex;
  flex-direction: row; 
  width: auto;
  height: 135px;
  flex-grow: 1; 
  border-radius: 25px;
  border: none;
}

.status-cards .card h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.status-cards .card p {
  background-color: var(--color-light);
  color: var(--color-text);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#urgent {
  background: url(../images/urgent-card.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

#regular {
  background: url(../images/normal-card.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

#pending {
  background: url(../images/pending-card.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}



.profile-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;  
}

.add-profile, .add-order {
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.add-profile{
  background-color: #cbc5c5;
}

.add-profile:hover {
  transform: scale(1.05);
}

.add-order {
  background-color: var(--color-blue);
  color: var(--color-text-light);
}

.add-order:hover {
  transform: scale(1.05);
}

.add-profile a, .add-order a {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.add-profile a:hover{
  color: #4e4e4e;
}
.add-order a:hover {
  color: #d8d8d8; 
}

.fa-circle-plus {
  font-size: 20px;
  margin-left: 10px;
  color: var(--color-text-light);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.fa-circle-plus:hover {
  color: #ffffff; 
  transform: scale(1.2); 
}
