@import url('style.css');

.order-form {
    display: block;
}

.order-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    padding-top: 30px;
    /* max-width: 600px; */
    /* margin: 0 auto; */
    /* border: 2px solid var(--color-border-solid); */
}

.order-header h3 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-blue);
}

.order-form .order-header img {
    width: 50px; 
    height: 50px; 
    margin-right: 10px;
}

.order-form form {
    margin: 0 auto;
    max-width: 600px;
    /* border: 2px solid var(--color-border-solid); */
}

.order-form form label {
    display: inline-block;
    width: 150px; 
    margin-right: 2px; 
    text-align: left;
    color: var(--color-text);
}

.order-form form input[type="text"],
.order-form form input[type="email"],
.order-form form textarea {
    width: calc(100% - 250px); 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--color-border-solid);
    border-radius: 5px;
    background-color: var(--color-light);
    color: var(--color-text);
}

/* ********************* ASK ABOUT THIS */
/* #id_image {
    border-radius: 25px;
    background-color: red;
} */

form .buttons-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
}

.order-form form input[type="submit"] {
    background-color: var(--color-normal);
    color: var(--color-text-light);
    width: 122px;
    height: 40px;
    border-radius: 20px;
    border: none;
}
form .buttons-container a {
    background-color: var(--color-delete);
    color: var(--color-text-light);
    width: 122px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}


