@import url('style.css');

.order-view {
    min-height: 60vh;
    background-color: var(--color-light);
    padding: 60px;
    border-radius: 20px;
}

.return-dashbord {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.return-dashbord img {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
}

.return-dashbord img:hover {
    transform: translateX(-5px) scale(1.1);
    cursor: pointer;
}

.order-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.order-view-flex {
    width: 80%;
    display: flex;
    gap: 60px;
}

.order-img-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    align-items: center;
}

.order-product-img {
    width: 300px;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 40px;
}

.qr-code {
    width: 100px;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid var(--color-border-solid);
    background-color: var(--color-light);
    padding: 10px;
}

.order-info-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-icon {
    width: 50px;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
}

.order-info-right h3 {
    font-size: 2.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-blue);
}

.order-info-right p {
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--color-text);
    margin: 0px;
}

.order-info-right span {
    font-weight: bold;
    color: var(--color-delete);
    margin-right: 10px;
}

.order-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.order-btn a {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    font-size: 1.1rem;
    padding: 5px 15px;
    color: var(--color-text-light);
    text-align: center;
}

.order-update-btn {
    background-color: var(--color-update);
}

.order-delete-btn {
    background-color: var(--color-delete);
}

.order-info-right fieldset {
    background-color: var(--color-blue-light);
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

legend {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-blue);
    text-transform: capitalize;
}

.submit-btn {
    border: none;
    width: 100px;
    height: 35px;
    background-color: var(--color-blue);
    color: var(--color-text-light);
    padding: 5px 10px;
    border-radius: 30px;
}

.order-info-right h4 {
    font-size: 1.1rem;
    text-transform: capitalize;
}

.comment-text {
    background-color: var(--color-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
    padding: 20px;
    border-radius: 10px;
    margin: 5px 0;
}

.order-comment {
    height: auto;
    overflow: scroll;
    font-size: 1.1rem;
}

.comment-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.comment-text span {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-delete);
    margin-right: 10px;
}

.comment-flex .comment-delete-btn img{
    width: 30px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.order-info-right .delete-text {
    font-size: 1.1rem;
    color: var(--color-text);
    text-transform: none;
    margin-top: 10px;
}

.order-title {  
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#delete-form {
    margin-top: 30px;
}

#delete-form .order-delete-btn {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    font-size: 1.1rem;
    padding: 6px 30px;
    background-color: var(--color-delete);
    color: var(--color-text-light);
    text-align: center;
}

#delete-form input[type="submit"] {
    border-radius: 30px;
    border: none;
    font-size: 1.1rem;
    padding: 5px 25px;
    background-color: var(--color-urgent);
    color: var(--color-text-light);
    text-align: center;
    margin-right: 5px;
}