@import url("style.css");

/* create order page */
.add-order-container {
  background-color: var(--color-light);
  padding: 60px;
  border-radius: 20px;
}

.add-order-form {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.add-order-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.add-order-header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.add-order-header h3 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-blue);
}

.add-order-form form label {
  display: inline-block;
  width: 150px;
  margin-right: 2px;
  text-align: left;
  color: var(--color-text);
}

.add-order-form form input[type="text"],
.add-order-form form input[type="email"],
.add-order-form form textarea {
  width: calc(100% - 160px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--color-border-solid);
  border-radius: 5px;
  background-color: var(--color-light);
  color: var(--color-text);
}

.add-order-form .buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.add-order-form form input[type="submit"] {
  background-color: var(--color-normal);
  color: var(--color-text-light);
  width: 122px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
form .buttons-container a {
  background-color: var(--color-delete);
  color: var(--color-text-light);
  width: 122px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
}

label {
  font-weight: bold;
  color: var(--color-delete) !important;
}
