/* ------------------------- Style-guide / Gerneral CSS ------------------------------------------------------------ */

/* ------------------------- fonts ------------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ------------------------- Colors -------------------------------------------------- */
:root {
  --color-text: #1c1d20;
  --color-text-light: #fff;

  --color-dark: #191919;
  --color-gray: #999d9e;
  --color-light: #ffffff;

  --color-dark-dark: #141517;
  --color-blue: #35447d;
  --color-blue-dark: #192d45;
  --color-blue-light-dark: #7990a3; /* apply to icons inside the sidebar section */
  --color-blue-light: #e9eef4; /* apply to the body background */

  --color-urgent: #ea5455; /* apply to yes button for deleting */
  --color-normal: #6aaeba;
  --color-pending: #c8b534;
  --color-profile: #cbc5c5;
  --color-orders: #2647c8;

  --color-normal-button: #768dc7;
  --color-edit: #6f8fe4;
  --color-save: #fbab41;
  --color-update: #6ab0ba;
  --color-delete: #7990a3; /* apply to cancel and no button */

  --color-border-solid: #d2d2d2;
  --color-border-solid-light: #545557;

  --color-background: linear-gradient (45deg, #192d45 0%, #35447d 100%);
}

/* ------------------------- Typography -------------------------------------------------- */

h1 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 3.2rem;
}

h2 {
  font-family: "Sarabun", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
}

h3 {
  font-family: "Sarabun", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:focus {
  outline: none;
}

li {
  list-style: none;
}

/* Responsive design **************************/
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

/* ------------------------- Body -------------------------------------------------- */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
}

section {
  padding: 40px 0;
  overflow: hidden;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  width: 100%;
  height: auto;
  border-style: none;
  object-fit: cover;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--color-border-solid);
  margin: 1rem 0;
  padding: 0;
}
