@import url("style.css");

body {
  font-family: "Sarabun", sans-serif;
  color: var(--color-text);
  background-color: var(--color-blue-light);
}

.users {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  background-color: var(--color-blue);
  padding: 20px;
  border-radius: 10px;
}

form:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.users h1 {
  text-transform: uppercase;
  font-size: 28px;
  color: var(--color-text-light);
  font-weight: 500;
}

#id_search {
  display: block;
}

.search-bar-container {
  border: none !important;
  gap: 10px;
}

.search-input {
  border: none;
  outline: none;
  width: 300px;
  border-radius: 10px;
  padding: 5px 10px;
  align-items: center;
}

.search-input::placeholder {
  opacity: 0;
}

.search-button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: none !important;
}

.search-button:hover {
  transform: scale(1.1);
}

.reset-btn {
  cursor: pointer;
}

.reset-btn:hover {
  transform: scale(1.1);
}

.update-user-main {
  padding: 0;
}

.update-user-form {
  background-color: var(--color-light);
  border-radius: 10px;
  padding: 4rem 4rem 8rem 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-user-form-flex {
  display: flex;
  gap: 2rem;
}

.update-user-form-flex .left {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.update-user-form-flex .left .img-container {
  background: url(../images/create-user.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-right: 4rem;
}

.update-user-form-flex .right {
  width: 50%;
}

label {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  margin-right: 1rem;
}

.update-user-form-flex .right p {
  font-size: 1rem;
}

.update-user-form-flex .right p span {
  color: var(--color-dark-dark);
  font-weight: 600;
  margin-right: 2rem;
}

.update-user-form-flex .right p:last-of-type {
  font-size: 15px;
  color: var(--color-gray);
  margin-bottom: 3rem;
}

.update-user-form-flex .right input {
  border: 1px solid var(--color-border-solid);
  border-radius: 5px;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
}

select {
  margin-bottom: 40px;
}

.roles {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
}

#id_groups {
  display: flex;
  flex-direction: row;
}

.update-user-form-flex .right input::placeholder {
  opacity: 0;
}

.update-user-form-flex .right .buttons-container {
  display: flex;
  gap: 10px;
}

.update-user-form-flex .right .buttons-container input {
  background-color: var(--color-save);
  color: var(--color-text-light);
  width: 122px;
  height: 40px;
  border-radius: 20px;
  border: none;
}

.update-user-form-flex .right .buttons-container a {
  background-color: var(--color-delete);
  color: var(--color-text-light);
  width: 122px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
}
