<!-- this is the add new order form -->
{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/order_form.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  
</head>

<main>
  <section>{% include 'accounts/users-status.html' %}</section>
  
  <section class="add-order-container">
    <div class="add-order-form">
      <div class="add-order-header">
        <img src="{% static 'images/form-order-icon.svg' %}" alt="" srcset="" />
        <h1>ORDER</h1>
      </div>
      
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{form.as_p}}
        <div class="buttons-container">
          <input type="submit" name="Submit" value="Add Order" />
          <a href="{% url 'home' %}">Cancel</a>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock %}