{% load static %}

<section class="orders-main">
  <div class="orders-filter">
    <div class="order-search">
      <h3>Orders</h3>
      <form
        action="{% url 'search_order' %}"
        method="GET"
        class="search-bar-container"
      >
        <input
          type="text"
          placeholder="Search orders..."
          class="search-input"
          name="search_query"
          id="id_search"
          value="{{ search_query }}"
        />
        <button type="submit" class="search-button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <!--Add New Order-->
      {% if request.user.groups.first.name == 'admin' %}
      <a href="{% url 'create_order' %}">Create Order</a>
      {% endif %} {% if request.user.groups.first.name == 'manager' %}
      <a href="{% url 'create_order' %}">Create Order</a>
      {% endif %}
    </div>
    <form action="" method="GET" class="order-form">
      {{myFilter.form}}

      <a href="{% url 'home' %}" class="reset-button"
        ><i class="fa-solid fa-arrows-rotate"></i
      ></a>
    </form>
  </div>
  <!-- Orders Table -->
  {% if orders %}

  <table class="orders-table">
    <thead>
      <tr>
        <th scope="col">Order No</th>
        <th scope="col">Title</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">View</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      {% for i in orders %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.title}}</td>
        <td>{{i.priority}}</td>
        <td>{{i.status}}</td>
        <td>
          <a href="{% url 'view_order' i.pk %}" class="view"
            ><i class="fa-solid fa-eye"></i
          ></a>
        </td>
        <td>
          <a href="{% url 'update_order' i.pk %}" class="update"
            ><i class="fa-regular fa-pen-to-square"></i
          ></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No orders found.</p>
  {% endif %}
</section>
