{% load static %}

<section class="orders-main">
  <div class="orders-filter">
    <div class="order-search">
      <h3>Orders</h3>
      <form
        action="{% url 'search_order' %}"
        method="GET"
        class="search-bar-container"
      >
        <label for="id_search">Search OrderNo/Title:</label>
        <div class="search-contain">
          <input
            type="text"
            class="search-input"
            name="search_query"
            id="id_search"
            value="{{ search_query }}"
          />
          <button type="submit" class="search-button" title="Search">
            <img src="{% static 'images/search-icon.svg' %}" alt="" srcset="" />
          </button>
        </div>
      </form>
    </div>
    <div class="order-section">
      <form action="" method="GET" class="order-form">{{myFilter.form}}
        <div class="filter-btn">
        <button type="submit" class="enter-button" title="Submit filter">
          <img src="{% static 'images/enter-icon.svg' %}" alt="" srcset=""/>
        </button>
        <a href="{% url 'home' %}" class="reset-button" title="Reset filter"
          ><img src="{% static 'images/reset-icon.svg' %}" alt="" srcset=""
        /></a>
        </div>
      </form>
      </div>
    </div>
  </div>
  <!-- Orders Table -->
  {% if orders %}

  <table class="orders-table">
    <thead>
      <tr>
        <th scope="col">Order No</th>
        <th scope="col">Title</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">View</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      {% for i in orders %}
  <tr>
    <th scope="row">{{i.id}}</th>
    <td>{{i.title}}</td>
    <td class="{% if i.priority == 'Urgent' %}priority-urgent{% elif i.priority == 'Normal' %}priority-normal{% endif %}">{{i.priority}}</td>
    <td>{{i.status}}</td>
    <td>
      <a href="{% url 'view_order' i.pk %}" class="view" title="View Order">
        <i class="fa-solid fa-eye"></i>
      </a>
    </td>
    <td>
      <a href="{% url 'update_order' i.pk %}" class="update" title="Update Order">
        <i class="fa-regular fa-pen-to-square"></i>
      </a>
    </td>
</tr>
{% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No orders found.</p>
  {% endif %}
</section>
