{% load static %}
<head>
  <script defer src="{% static 'js/script.js' %}"></script>
</head>
<section class="orders-main">
  <div class="orders-filter">
    <div class="order-search">
      <h1>Orders</h1>
      <form
        action="{% url 'search_order' %}"
        method="GET"
        class="search-bar-container"
      >
        <label for="id_search">Search OrderNo/Title:</label>
        <div class="search-contain">
          <input
            type="text"
            class="search-input"
            name="search_query"
            id="id_search"
            value="{{ search_query }}"
          />
          <button type="submit" class="search-button" title="Search">
            <img src="{% static 'images/search-icon.svg' %}" alt="" srcset="" />
          </button>
        </div>
      </form>
    </div>
    <div class="order-section">
      <form action="" method="GET" class="order-form">{{myFilter.form}}
        <div class="filter-btn">
        <button type="submit" class="enter-button" title="Submit filter">
          <img src="{% static 'images/enter-icon.svg' %}" alt="" srcset=""/>
        </button>
        <a href="{% url 'home' %}" class="reset-button" title="Reset filter"
          ><img src="{% static 'images/reset-icon.svg' %}" alt="" srcset=""
        /></a>
        <div class="view-switch">
        <img src="{% static 'images/grid-icon.svg' %}" class="grid-icon icon" onclick="toggleOrderView()" style="display: inline;" title="Grid view">
        <img src="{% static 'images/list-icon.svg' %}" class="list-icon icon" onclick="toggleOrderView()" style="display: none;" title="List view">
        </div>
       </div>
        

      </form>
      </div>
    </div>
  </div>
  <!-- Orders Table -->
  {% if orders %}

  <!-- Orders Table -->
<table class="orders-table">

    <thead>
      <tr>
        <th scope="col">Order No</th>
        <th scope="col">Title</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">View</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      {% for i in orders %}
  <tr>
    <th scope="row">{{i.id}}</th>
    <td>{{i.title}}</td>
    <td class="{% if i.priority == 'Urgent' %}priority-urgent{% elif i.priority == 'Normal' %}priority-normal{% endif %}">{{i.priority}}</td>
    <td class="{% if i.status == 'Attention Required' %}status-attention{% endif %}">{{ i.status }}</td>

    <td>
      <a href="{% url 'view_order' i.pk %}" class="view" title="View Order">
        <img src="{% static 'images/view-icon.svg' %}" alt="" srcset="">
      </a>
    </td>
    <td>
      <a href="{% url 'update_order' i.pk %}" class="update" title="Update Order">
        <img src="{% static 'images/edit-icon.svg' %}" alt="" srcset="">
      </a>
    </td>
</tr>
{% endfor %}
    </tbody>
  </table>
  <div class="order-cards hidden">
  {% for order in orders %}
  <div class="card">
    <div class="card-image">
    <img src="{{ order.image.url }}" alt="Order Image" class="order-grid-image" />
  </div>
    <div class="card-body">
      <h5 class="card-title">Order No: {{ order.id }}</h5>
      <p class="card-text">Title: {{ order.title }}</p>
      <p class="card-text priority {% if order.priority == 'Urgent' %}priority-urgent{% elif order.priority == 'Normal' %}priority-normal{% endif %}">
      <span>Priority:</span> {{ order.priority }}
    </p>
      <p class="card-text {% if order.status == 'Attention Required' %}status-attention{% endif %}">
      <span>Status:</span> {{ order.status }}
      </p>

      <a href="{% url 'view_order' order.pk %}" class="view" title="View Order"><img src="{% static 'images/view-icon.svg' %}" alt="" srcset=""></a>
      <a href="{% url 'update_order' order.pk %}" class="update" title="Update Order"><img src="{% static 'images/edit-icon.svg' %}" alt="" srcset=""></a>
    </div>
  </div>
  {% endfor %}
</div>

  {% else %}
  <p>No orders found.</p>
  {% endif %}
</section>
