{% extends 'accounts/main.html' %} {% load static %} {% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/reports.css' %}" />
</head>
<main>
  <section>{% include 'accounts/status.html' %}</section>
  <div class="orders">
    <h3>Reports</h3>
  </div>

  <div class="grid-container">
    <div class="item-container">
      <h5>Order Report</h5>
      <div class="item">
        <table>
          <tr>
            <td>Total Orders Created:</td>
            <td>{{orders_created}}</td>
          </tr>
          <tr>
            <td>Pending Orders:</td>
            <td>{{orders_pending}}</td>
          </tr>
          <tr>
            <td>Urgent Orders:</td>
            <td>{{orders_urgent}}</td>
          </tr>
          <tr>
            <td>Normal Orders:</td>
            <td>{{orders_normal}}</td>
          </tr>
          <tr>
            <td>Attention required:</td>
            <td>{{orders_attention_required}}</td>
          </tr>
          <tr>
            <td>Completed:</td>
            <td>{{orders_completed}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="item-container">
      <h5>User Report</h5>
      <div class="item">
        <table>
          <tr>
            <td>Total users Created:</td>
            <td>{{users_created}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}
