{% extends 'accounts/main.html' %} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/reports.css' %}" />
</head>
<main>
  <section>{% include 'accounts/users-status.html' %}</section>
  <header class="orders">
    <h3>Reports</h3>
  </header>

  <div class="grid-container">
    <article class="item-container">
      <h5>Order Report</h5>
      <div class="item">
        <table>
          <tr>
            <td>Total Orders Created:</td>
            <td>{{orders_created}}</td>
          </tr>
          <tr>
            <td>Pending Orders:</td>
            <td>{{orders_pending}}</td>
          </tr>
          <tr>
            <td>Urgent Orders:</td>
            <td>{{orders_urgent}}</td>
          </tr>
          <tr>
            <td>Normal Orders:</td>
            <td>{{orders_normal}}</td>
          </tr>
          <tr>
            <td>Attention required:</td>
            <td>{{orders_attention_required}}</td>
          </tr>
          <tr>
            <td>Completed:</td>
            <td>{{orders_completed}}</td>
          </tr>
        </table>
      </div>
    </article>

    <article class="item-container">
      <h5>User Report</h5>
      <div class="item">
        <table>
          <tr>
            <td>Total Users Created:</td>
            <td>{{users_created}}</td>
          </tr>
          <tr>
            <td>Total Managers:</td>
            <td>{{num_managers}}</td>
          </tr>
          <tr>
            <td>Total Workers:</td>
            <td>{{num_workers}}</td>
          </tr>
        </table>
      </div>
    </article>

    <article class="item-container">
      <h5>Orders with Comments</h5>
      <div class="item">
        <table>
          <!-- {% for order in orders_with_comments %} -->
          <tr>
            <td>Order {{ order.id }}:</td>
            <td>{{ order.num_comments }}</td>
          </tr>
          <!-- {% endfor %} -->
        </table>
      </div>
    </article>

    <article class="item-container">
      <h5>Assigned Orders</h5>
      <div class="item">
        <table>
          <!-- {% for user in users %} -->
          <tr>
            <td>{{ user.username }}:</td>
            <td>{{ user.num_orders_assigned }}</td>
          </tr>
          <!-- {% endfor %} -->
        </table>
      </div>
    </article>
  </div>
</main>
{% endblock %}