{% extends 'accounts/main.html' %} {% load static %} {% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/update_user_form.css' %}">
</head>
<main>
  <section>{% include 'accounts/users-status.html' %}</section>
  <section class="update-user-main">

    <header class="users">
      <h1>Update User</h1>
    </header>

    <section class="update-user-form">
      <div class="update-user-form-flex">
        <article class="left">
          <div class="img-container"></div>
        </article>
        <article class="right">
          <form action="" method="POST">
            {% csrf_token %}
    
            <p><span>Name:</span> {{user.username|capfirst}}</p>
    
            <p><span>Email:</span> {{user.email|capfirst}}</p>
    
            <div class="roles">
              <label for="Roles">Role:</label><br />
              {{ form.groups }}
            </div>

            <p><span>Date Joined:</span> {{user.date_joined}}</p>

            <div class="buttons-container">
              <input type="submit" value="Submit" />
              <a href="{% url 'users' %}">Cancel</a>
          </form>
        </article>
      </div>
    </section>
  
  </section>
 
</main>
{% endblock %}




