{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/users-status.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<section>
<div class="status">
  <div class="container">
    <div class="status-cards">
      <img src="{% static 'images/oms-users.png' %}" alt="" srcset="">
    </div>
    
    <div class="profile-card">
      {% if request.user.groups.first.name == 'admin' %}
      <div class="add-order">
        <a href="{% url 'create_order' %}" title="Create Order"
          >Order<i class="fa-solid fa-circle-plus"></i
        ></a>
      </div>
      {% endif %} {% if request.user.groups.first.name == 'manager' %}
      <div class="add-order">
        <a href="{% url 'create_order' %}" title="Create Order"
          >Order<i class="fa-solid fa-circle-plus"></i
        ></a>
      </div>
      {% endif %} {% if request.user.groups.first.name == 'admin' %}
      <div class="add-profile">
        <a href="{% url 'create_user' %}" title="Create User"
          >Users<i class="fa-solid fa-circle-plus"></i
        ></a>
      </div>
      {% endif %}
    </div>
  </div>
  </div>
</div>

