{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/users-status.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<section>
<div class="status">
  <div class="container">
    <div class="status-cards">
      <img src="{% static 'images/oms-users.png' %}" alt="" srcset="">
    </div>
    
    <div class="profile-card">
      <div class="add-profile">
        <a href="{% url 'create_user' %}">Users<i class="fa-solid fa-circle-plus"></i></a>
      </div>
      <div class="add-order">
        {% if request.user.groups.first.name == 'admin' %}
        <a href="{% url 'create_order' %}"
          >Order<i class="fa-solid fa-circle-plus"></i
        ></a>
        {% endif %} {% if request.user.groups.first.name == 'manager' %}
        <a href="{% url 'create_order' %}"
          >Order<i class="fa-solid fa-circle-plus"></i
        ></a>
        {% endif %}
      </div>
    </div>
  </div>
  </div>
</div>

