{% extends 'accounts/main.html' %} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/order_form.css' %}" />
  <link rel="stylesheet" href="{% static 'css/order_view.css' %}" />
</head>
<main>
  <section>{% include 'accounts/users-status.html' %}</section>
    <div class="order-view">
      <div class="return-dashbord">
        <a href="{% url 'home' %}">
          <img 
            src="{% static 'images/return-icon.svg' %}" 
            alt="_blank" 
            srcset=""
          />
        </a>
      </div>
      <div class="order-view-container">
        <div class="order-view-flex">
          <div class="order-img-left">
            <img 
              class="order-product-img"
              src="{{order.image.url}}"
              alt="order-image"
              width="300px"
            />

            <!-- QRCODE -->
            <img class="qr-code" src="{{ qr_code_url }}" alt="QR Code" />
          </div>

          <div class="order-info-right">
            <h1>
              <img class="order-icon" src="{% static 'images/form-order-icon.svg' %}" alt="_blank" srcset="">
              Order
            </h1>
            <hr>
            <p><span>Title:</span> {{order.title}}</p>
            <p><span>Description:</span> {{order.description}}</p>
            <p><span>Priority:</span> {{order.priority}}</p>
            <p><span>Status:</span> {{order.status}}</p>
            <p><span>Assigned to:</span> {{order.order_assigned_to}}</p>
            <p><span>Date Created:</span> {{order.date_created}}</p>

            <div class="order-btn">
              <a class="order-update-btn" href="{% url 'update_order' order.pk %}"
                >Update</a
              >
              <a class="order-delete-btn" href="{% url 'delete_order' order.pk %}"
                >Delete</a
              >
            </div>

            <form action="{% url 'add_comment' order.pk %}" method="POST">
              {% csrf_token %}
              <fieldset>
                <legend>Add a comment</legend>
                <label>
                  <!-- Comment: -->
                  <textarea
                    type="textarea"
                    name="comment_text"
                    required
                  ></textarea>
                  <button class="submit-btn" type="submit">Submit</button>
                </label>
              </fieldset>
            </form>

            {% for comment in comments %}
            <div class="comment-text">
              <p class="order-comment">{{ comment.comment_text }}</p>
              <hr>
              <div class="comment-flex">
                <p><span>{{ comment.user }}</span></p>
                {% if request.user.groups.first.name == 'admin' or request.user == comment.user %}
                  <a class="comment-delete-btn" href="{% url 'delete_comment' comment.id %}">
                    <img src="{% static 'images/delete-icon.svg' %}" alt="_blank" srcset="" />
                  </a>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
